<h1>AreDoco</h1>

<% if user_signed_in? %>
  <p>ログイン中: <%= current_user.email %></p>
  <%= link_to "場所一覧", places_path %>
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <p>ログインしていません</p>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>