<h1>場所編集</h1>

<% if @place.errors.any? %>
  <div class="flash-message alert">
    <% @place.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<div class="card">
  <%= form_with model: @place do |f| %>
    <div class="form-group">
      <%= f.label :cover_image, "場所の写真（写真を変更する場合は、新しい写真を選択してください）" %>
      <%= f.file_field :cover_image %>
    </div>

    <% if @place.cover_image.attached? %>
      <div class="form-group">
        <%= image_tag @place.cover_image, width: 200 %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, "場所名（任意）" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.submit "更新" %>
    </div>
  <% end %>
</div>