<% content_for :page_title, "場所を追加" %>
<% if @place.errors.any? %>
  <div class="flash-message alert">
    <% @place.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
<div class="card">
  <p>場所名または場所の写真、どちらかを登録してください。場所名はあとから修正できます。</p>

  <%= form_with model: @place do |f| %>
    <div class="form-group">
      <%= f.label :cover_image, "場所の写真（任意）" %>
      <%= f.file_field :cover_image %>
    </div>

    <div class="form-group">
      <%= f.label :name, "場所名（任意）" %>
      <%= f.text_field :name, placeholder: "例：クローゼット、押し入れ、本棚" %>
    </div>

    <div>
      <%= f.submit "場所を作成" %>
    </div>
  <% end %>
</div>