<% content_for :page_title, "収納したアイテム" %>

<div class="place-detail-page">
  <div class="items-area">
    <% if @place.items.any? %>
      <ul class="item-list">
        <% @place.items.each do |item| %>
          <% if item.image.attached? %>
            <li class="item-card">
              <%= image_tag item.image, class: "item-thumbnail js-image" %>

              <button type="button" class="item-check-button" aria-label="確認チェック"></button>
              <%= button_to "",
                    place_item_path(@place, item),
                    method: :delete,
                    data: { turbo_confirm: "削除しますか？" },
                    class: "item-delete-button",
                    aria: { label: "削除" } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <div class="empty-state">
        <p class="empty-title">まだアイテムが登録されていません</p>
        <p class="empty-text">この場所にしまった物の写真を登録しましょう！</p>
      </div>
    <% end %>

    <div class="fixed-add-button-wrap">
      <%= link_to "＋ アイテム追加", new_place_item_path(@place), class: "button primary-button large-add-button" %>
    </div>
  </div>

  <aside class="place-side-panel">
    <div class="side-place-card">
     <%= link_to places_path do %>
      <% if @place.cover_image.attached? %>
        <%= image_tag @place.cover_image, class: "side-place-image" %>
      <% else %>
        <div class="side-place-image side-place-empty">No Image</div>
      <% end %>
    <% end %>
      <div class="side-place-name">
      <%= link_to places_path do %>
        <%= @place.name.presence || "" %>
      <% end %>
      </div>
    </div>
       
      <div class="item-count-box">
        <p>総アイテム数：<span id="total-item-count"><%= @place.items.count %></span></p>
        <p>チェック数：<span id="checked-item-count">0</span></p>
      </div>



    <%= link_to "収納場所に戻る", places_path, class: "back-link" %>
  </aside>
</div>

<div id="image-modal" class="modal">
  <span class="modal-close">&times;</span>
  <img class="modal-content" id="modal-image">
</div>