<!DOCTYPE html>
<html>
  <head>
    <title>Aredoko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="site-header">
      <div class="site-header-inner">
        <%= link_to "Aredoko", root_path, class: "site-title" %>

        <div>
          <% if user_signed_in? %>
            <%= link_to "場所一覧", places_path %>
            <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path %>
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </header>

    <main class="container">
      <% if notice.present? %>
        <div class="flash-message notice">
          <%= notice %>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="flash-message alert">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="site-footer">
      <p>© mameta</p>
    </footer>
  </body>
</html>